{
  "plugins": [
    [
      "babel-plugin-styled-components",
      {
        "ssr": true
      },
      "@babel/plugin-proposal-nullish-coalescing-operator"
    ]
  ],
  "presets": ["next/babel", "@babel/preset-typescript"]
}
